.sale {
    max-width: 1920px;
    width: 100%;
    min-height: 532px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F3F5F7;
}

.sale__img {
    max-width: 960px;
    min-width: 350px;
    width: 100%;
    height: 532px;
    margin: 0 auto;

    &-image {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        object-fit: cover;
    }
}

.sale__info {
    max-width: 720px;
    width: 100%;
    height: 532px;
    margin: 0 auto;
    padding: 0px 160px 0px 72px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;

    &-h4 {
        width: 452px;
        height: 16px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        text-align: left;
        color: #377DFF;
    }

    &-h1 {
        width: 412px;
        height: 88px;
        font-family: Poppins;
        font-size: 40px;
        font-weight: 500;
        line-height: 44px;
        letter-spacing: -0.4000000059604645px;
        text-align: left;
        color: #141718;
    }

    &-p {
        width: 452px;
        height: 64px;
        word-break: break-all;
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        color: #141718;
    }

    &-btn {
        width: 100px;
        height: 28px;
        margin-top: 16px;
        gap: 4px;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #141718;
        color: #141718;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: -0.4000000059604645px;
        text-align: left;
    }
}

@media (max-width:768px) {
    .sale {
        width: 100%;
        min-height: 532px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        background-color: #F3F5F7;
    }

    .sale__img {
        max-width: 720px;
        height: 532px;
        margin: 0 auto;

        &-image {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            object-fit: cover;
        }
    }
}