.cart {
    max-width: 1920px;
    width: 100%;
    margin: 80px auto;
}
.cart__container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}
.cart__container-title {
    width: 832px;
    height: 166px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    &__h1 {
        width: 117px;
        height: 58px;
        color: #000000;
        font-family: Poppins;
        font-size: 54px;
        font-weight: 500;
        line-height: 58px;
        letter-spacing: -1px;
        text-align: left;
    }

    &__btns {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .cart__btns {
            width: 256px;
            height: 65px;
            padding: 10px 0 24px;
            display: flex;
            align-items: center;
            gap: 17px;
            border: 0;
            border-bottom: 1px solid #B1B5C3;
            background-color: transparent;
            font-family: Inter;
            font-size: 16px;
            font-weight: 600;
            line-height: 26px;
            text-align: left;
            color: #B1B5C3;

            &:hover {
                border-bottom: 2px solid #23262F;
                color: #23262F;
                opacity: .8;

                span {
                    background-color: #23262F;
                }
            }

            span {
                width: 42px;
                height: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 40px;
                border-radius: 100px;
                font-family: Inter;
                font-size: 16px;
                font-weight: 600;
                line-height: 26px;
                color: #FCFCFD;
                text-align: center;
                background-color: #B1B5C3;
            }
        }

        .cart__btns.active {
            border-bottom: 2px solid #23262F;
            color: #23262F;

            span {
                background-color: #23262F;
            }
        }
    }
}
.cart__content {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    margin: 80px 0 0;
    min-height: 642px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    // border: 1px solid #000;
}
.cart__content-carts {
    border: 1px solid #000;

    &__ul {
        width: 643px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 0;
        border-bottom: 2px solid gray;

        &-div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 74.5px;
        }
    }

    &__item {
        width: 643px;
        height: 144px;
        padding: 24px 0px;
        display: flex;
        align-items: center;
        // justify-content: space-between;

        .cart-figure {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 16px;

            &-img {
                width: 80px;
                height: 96px;
                object-fit: contain;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #000;
                background-color: #F3F5F7;
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 8px;
                color: #6C7275;
            }
        }

        .carts-counter {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
// Summary
.cart__content-summary {
    width: 413px;
    height: 476px;
    padding: 24px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid #6C7275;

    .summary-h4 {
        width: 365px;
        height: 28px;
        margin-bottom: 4px;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
        color: #141718;
    }
}
.summary-label {
    width: 365px;
    height: 52px;
    padding: 13px 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        span {
            color: #141718;
            font-family: Inter;
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            text-align: left;
        }
    }

    p {
        color: #141718;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        text-align: right;
    }
}